<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .my__form {
            display: inline-block;
            margin-left: 15px;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${news}" class="alert alert-info mt-2" >
        <h3 th:text="${el.title}"/>
        <p th:text="${el.full_text}">
        <p> <b>Просмотры: </b> <span th:text="${el.views}"/> </p>
        <a th:href="'/news/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <form th:action="'/news/' + ${el.id} + '/delete'" method="post" class="my__form">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>

    </div>
</div>


</body>
</html>