<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${news}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <a th:href="'/news/' + ${el.id}" class="btn btn-warning"> Подробнее </a>
    </div>
</div>

<div th:insert="blocks/footer :: footer" class="container mt-5"></div>
</body>
</html>