<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Редактирование пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование пользователя</h1>
    <div th:each="el : ${users}">
        <form method="post">
            <input type="text" th:value="${el.username}" name="username" placeholder="Введите логин"
                   class="form-control">
            <br>
            <input type="text" th:value="${el.password}" name="password" placeholder="Введите пароль"
                   class="form-control">
            <br>
            <input type="text" th:value="${el.phone}" name="phone" placeholder="Введите номер телефона"
                   class="form-control">
            <br>
            <table>
                <tr th:each="role : ${roles}">
                    <div class="ui checkbox">
                        <input type="checkbox" name="roleAdmin" th:checked="${el.isAdmin()}">
                        <label th:text="${role}"></label>
                    </div>
                </tr>
            </table>
            <br>
            <button type="submit" class="btn btn-primary">Применить изменения</button>

        </form>
        <br>
        <form th:action="'/users/' + ${el.id} + '/delete'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>
</body>
</html>