<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Spring Security Example </title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 310px;
            margin: 0 auto;
        }

        .con {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .form-control {
            width: 180px;
        }
    </style>
</head>
<header th:insert="blocks/header :: header"></header>
<br>
<h1 align="center" class="mt-5">Регистрация</h1> <br>
<body>

<form th:action="@{/registration}" method="post">
    <div class="container">
        <div class="con"><label class="con"> User Name : <input type="text" name="username" class="form-control"/>
        </label></div>
        <div class="con"><label class="con"> Password: <input type="password" name="password" class="form-control"/>
        </label></div>

        <div style="margin: 0 auto"><input type="submit" value="Зарегистрироваться" class="btn btn-primary"/></div>
    </div>

</form>

</body>
</html>