<div th:fragment="footer">
    <div class="container px-4 py-5" id="hanging-icons">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div>
                    <h2>РЕЖИМ РАБОТЫ</h2>
                    <p>пн-пт с 7:00 до 23:00

                        <br>cб-вс и праздничные дни
                        с 9:00 до 21:00</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h2>АДРЕС:</h2>
                    <p>Саратов
                        ул. Большая Садовая, 239<br>
                        ДЦ «Навигатор», 2 этаж<br>
                        телефон: +7 (8452) 674-920</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h2>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</h2>
                    <p>Управляющий клубом
                        Денис Снаткин</p>
                </div>
            </div>
        </div>
    </div>
</div>